PG_HOST=
PG_DATABASE=
PG_USER=
PG_PASSWORD=

GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT=

# PostgreSQL
POSTGRES_DB=prices_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345

# Airflow
AIRFLOW_FERNET_KEY=Vkq4Hkq8Y3dQXAblgOKYwBysU2ZzfrFpX6jdORNi3Kw=
AIRFLOW_SECRET_KEY=your_secret_key_here

# Alerts (опционально)
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# Модель
MODEL_PATH=ml/models/catboost_latest.cbm

# Деградация — порог MAPE (в процентах)
MAPE_THRESHOLD=15.0
