# Работа с веб-браузером
selenium==4.15.0

# Быстрое сравнение строк для fuzzy search
rapidfuzz==2.15.1
selenium
pandas==2.1.1
psycopg2-binary
requests==2.31.0
openpyxl==3.1.2
holidays
schedule==1.2.0
beautifulsoup4
lxml
boto3
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
psycopg2
uvicorn
fastapi
pydantic
joblib
scikit-learn
catboost