# Работа с веб-браузером
selenium==4.15.0

# Быстрое сравнение строк для fuzzy search
rapidfuzz==2.15.1
websockets==12.0
pandas==2.1.1
yahoo_fin
requests==2.31.0
meteostat
openpyxl==3.1.2
yfinance
schedule==1.2.0
beautifulsoup4
lxml
boto3
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
undetected_chromedriver
webdriver-manager
psycopg2
streamlit
plotly
webdriver-manager
undetected-chromedriver